<div>
  <span [matBadge]="notifications" [matBadgeHidden]="notifications === 0"
    >Notificactions</span
  >
</div>
<div>
  <span matBadge="5" matBadgePosition="below before">Notificactions</span>
</div>
<div>
  <span matBadge="5" matBadgePosition="below after">Notificactions</span>
</div>
<div>
  <span matBadge="5" matBadgePosition="above before">Notificactions</span>
</div>
<div>
  <span matBadge="5" matBadgePosition="above before" matBadgeSize="small"
    >Notificactions</span
  >
</div>
<div>
  <span matBadge="5" matBadgePosition="above before" matBadgeSize="medium"
    >Notificactions</span
  >
</div>
<div>
  <span matBadge="5" matBadgePosition="above before" matBadgeSize="large"
    >Notificactions</span
  >
</div>

<div>
  <span matBadge="5" matBadgeColor="primary">Notificactions</span>
</div>
<div>
  <span matBadge="5" matBadgeColor="accent">Notificactions</span>
</div>
<div>
  <span matBadge="5" matBadgeColor="warn" matBadgeOverlap="false"
    >Notificactions</span
  >
</div>
